---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";

import { sections } from "../components/sections/sections.ts";
import Prose from "../components/Prose.astro";
---

<Layout
	title="NO Mandated RTO"
	description="Say NO to madated Return-To-Office Policies!"
>
	<Hero />
	<div
		class="grid place-content-center relative text-black dark:text-white p-5"
	>
		<Prose>
			{
				sections.map(
					(Section) =>
						Section.content && (
							<section class="p-5">
								<Section.content />
							</section>
						),
				)
			}
		</Prose>
	</div>
</Layout>
