---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html class="lg:text-base overflow-y-scroll scroll-pt-14" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content={description} />
		<!-- TODO: og and twitter metainfo -->
	</head>

	<body class="text-black dark:text-white">
		<main>
			<slot />
		</main>
	</body>

	<style is:global>
		@import "tailwindcss";
		@plugin "@tailwindcss/typography";

		:root {
			@apply bg-white dark:bg-stone-950;
		}

		html {
			font-family: ui-sans-serif, system-ui, sans-serif;
		}
	</style>
</html>
